# http://docs.travis-ci.com/user/languages/android/
language: android

sudo: false
android:
  components:
    - tools # needs to be first to get new package versions
    - build-tools-25.0.2
    - platform-tools
jdk: oraclejdk8
os:
  - linux
#  - osx

before_install:
  - export ANDROID_OS=$ANDROID_TARGET
  - if [ "$JRUBY_JARS_VERSION" == "MASTER" ] ; then rake get_jruby_jars_snapshot ; fi
  - MASTER=`ls jruby-jars-*.gem | tail -n 1 | cut -f 3 -d'-' | sed s/\\.gem//`
  - if [ "$JRUBY_JARS_VERSION" == "MASTER" ] ; then export JRUBY_JARS_VERSION=$MASTER ; fi
  # FIXME: (uwe) Remove files to make space for missing sysimg.  Remove this when the sysimg files are present.
  - if [ "$ANDROID_TARGET" == "23" ] ; then ls -l $ANDROID_HOME/platforms ; rm -rf $ANDROID_HOME/platforms/android-1* ; ls -l $ANDROID_HOME/platforms ; ls -l $ANDROID_HOME/system-images ; rm -rf $ANDROID_HOME/system-images/android-1* ; ls -l $ANDROID_HOME/system-images ; fi
  - if [ "$ANDROID_TARGET" == "24" ] ; then ls -l $ANDROID_HOME/platforms ; rm -rf $ANDROID_HOME/platforms/android-1* ; ls -l $ANDROID_HOME/platforms ; ls -l $ANDROID_HOME/system-images ; rm -rf $ANDROID_HOME/system-images/android-1* ; ls -l $ANDROID_HOME/system-images ; fi
  # EMXIF

env:
  global:
    - DX_HEAP_SIZE=2048
    - RUBOTO_UPDATE_EXAMPLES=0

  matrix:
    - ANDROID_TARGET=23 RUBOTO_PLATFORM=STANDALONE TEST_PART=1of6 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=23 RUBOTO_PLATFORM=STANDALONE TEST_PART=2of6 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=23 RUBOTO_PLATFORM=STANDALONE TEST_PART=3of6 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=23 RUBOTO_PLATFORM=STANDALONE TEST_PART=4of6 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=23 RUBOTO_PLATFORM=STANDALONE TEST_PART=5of6 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=23 RUBOTO_PLATFORM=STANDALONE TEST_PART=6of6 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=22 RUBOTO_PLATFORM=STANDALONE TEST_PART=1of3 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=22 RUBOTO_PLATFORM=STANDALONE TEST_PART=2of3 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=22 RUBOTO_PLATFORM=STANDALONE TEST_PART=3of3 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=21 RUBOTO_PLATFORM=STANDALONE TEST_PART=1of3 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=21 RUBOTO_PLATFORM=STANDALONE TEST_PART=2of3 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=21 RUBOTO_PLATFORM=STANDALONE TEST_PART=3of3 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=19 RUBOTO_PLATFORM=STANDALONE TEST_PART=1of3 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=19 RUBOTO_PLATFORM=STANDALONE TEST_PART=2of3 JRUBY_JARS_VERSION=MASTER
    - ANDROID_TARGET=19 RUBOTO_PLATFORM=STANDALONE TEST_PART=3of3 JRUBY_JARS_VERSION=MASTER

matrix:
  fast_finish: true
  allow_failures:
    - env: ANDROID_TARGET=23 RUBOTO_PLATFORM=STANDALONE TEST_PART=1of6 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=23 RUBOTO_PLATFORM=STANDALONE TEST_PART=2of6 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=23 RUBOTO_PLATFORM=STANDALONE TEST_PART=3of6 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=23 RUBOTO_PLATFORM=STANDALONE TEST_PART=4of6 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=23 RUBOTO_PLATFORM=STANDALONE TEST_PART=5of6 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=23 RUBOTO_PLATFORM=STANDALONE TEST_PART=6of6 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=22 RUBOTO_PLATFORM=STANDALONE TEST_PART=1of3 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=22 RUBOTO_PLATFORM=STANDALONE TEST_PART=2of3 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=22 RUBOTO_PLATFORM=STANDALONE TEST_PART=3of3 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=21 RUBOTO_PLATFORM=STANDALONE TEST_PART=1of3 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=21 RUBOTO_PLATFORM=STANDALONE TEST_PART=2of3 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=21 RUBOTO_PLATFORM=STANDALONE TEST_PART=3of3 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=19 RUBOTO_PLATFORM=STANDALONE TEST_PART=1of3 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=19 RUBOTO_PLATFORM=STANDALONE TEST_PART=2of3 JRUBY_JARS_VERSION=MASTER
    - env: ANDROID_TARGET=19 RUBOTO_PLATFORM=STANDALONE TEST_PART=3of3 JRUBY_JARS_VERSION=MASTER

script:
  - rvm use 2.3.1 --install
  - ./run_tests.sh

notifications:
  irc:
    channels:
      - "irc.freenode.org#ruboto"
    use_notice: true
    skip_join: true

  webhooks:
    urls:
      - https://webhooks.gitter.im/e/fe0d532fe5bef5b7288c
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
